* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit,Poppins,sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column  ;
}

header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: white;
}
.logo{
    margin-right: 200px;
    float: left;
}
.logo img{
    height: 37px;
}
.nav{
    margin-right: 20px;
}
.nav li{
    display: inline;
    color: #332d2d;
    text-align: left;
    background: rgba(0,0,0,0);
    font-size: 16px;
    font-weight: bold; 
    padding-right: 20px;
}
.getintouch button{
    color: white;
    border: none;
    min-width: 146px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: left;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 700;
    text-align: left;
    background-image: linear-gradient(95.04deg,#ffaa3f .82%,#f35b04 97.35%);
}
.getintouch span{
    margin-left: 10px;
}

/********************************Banner body**********************************/

.ban_body{
    background-image: url(assets/banner1.jpg);
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ban_body h1{
    text-align: center;
    font-size: 85px;
    font-weight: 600;
    padding-bottom: 40px;
    color: #fff;
}
.para{
    margin-left: 100px;
}
.para p{
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    font-family: "Poppins",sans-serif;
    color: #fff;
    text-align: center;
}