* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit,Poppins,sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column  ;
}

header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: white;
}
.logo{
    margin-right: 200px;
    float: left;
}
.logo img{
    height: 37px;
}
.nav{
    margin-right: 20px;
}
.nav li{
    display: inline;
    color: #332d2d;
    text-align: left;
    background: rgba(0,0,0,0);
    font-size: 16px;
    font-weight: bold; 
    padding-right: 20px;
}
.getintouch button{
    color: white;
    border: none;
    min-width: 146px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: left;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 700;
    text-align: left;
    background-image: linear-gradient(95.04deg,#ffaa3f .82%,#f35b04 97.35%);
}
.getintouch button:hover{
    background: #f35b04;
}
.getintouch span{
    margin-left: 10px;
}

/********************************Banner body**********************************/

.ban_body{
    background-image: url(assets/banner1.jpg);
    background-size: cover;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.ban_body h1{
    text-align: center;
    font-size: 85px;
    font-weight: 600;
    color: #fff;
    margin-top: 50px;
}

.para p{
    font-size: 15px;
    line-height: 26px;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
    color: #fff;
    text-align: center;
}
.ban_button{
    margin-top: 50px;
}
.ban_button button{
    color: white;
    border: none;
    margin-right: 10px;
    min-width: 146px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 700;
    text-align: left;
    background-image: linear-gradient(95.04deg,#ffaa3f .82%,#f35b04 97.35%);
}
.ban_button button:hover{
    background: #f35b04;
}

/*******************************Main Body*******************/

.body_og{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.body_main{
    width: 1200px;
    /* background-color: #f35b04; */
}

.our_process{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    
}
.our_process h1{
    font-size: 40px;
    color: #413838;
    font-weight: 700;
    margin-top: 80px;
}
.card_col{
    display: flex;
    margin-top: 80px;
    
}
.card{
    float: left;
    width: 34%;
    padding: 50px 17px;
    text-align: center;
    border-radius: 0px 50px 50px 50px;
    min-height: 317px;
    margin: 0px 15px;
    /* position: relative; */
}
.card h4{
    margin-top: 30px;
    color: #332d2d;
    font-weight: 600;
    font-family: "Poppins";
    font-size: 16px;
    line-height: 25px;
}
.card_col2{
    display: flex;
    margin-top: 80px;

}
.card2{
    float: left;
    width: 34%;
    height: 540px;
    padding: 50px 17px;
    text-align: center;
    border-radius: 0px 50px 50px 50px;
    min-height: 317px;
    margin: 0px 15px;
    /* position: relative; */
    background: #fff7f0;
}
.card2:hover{
    border: 3px solid #a38062;
}
.card2 h4{
    margin-top: 30px;
    font-weight: 600;
    font-size: 17px;
    padding-bottom: 20px;
}
.card2 p{
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
}
.card_col3{
    display: flex;
    margin-top: 40px;

}
.u_r{
    background: #d1e1f8;
    display: flex;
    padding: 68px 0 50px;
    border-radius: 25px;
    margin-top: 80px;
}
.u_r_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 95px;
}
.u_r_card h2{
    font-weight: 700;
    font-size: 38px;
    color: #402060;
}
.u_r_card p{
    padding: 15px 0;
    color: #402060;
    font-weight: 600;
    white-space: nowrap;
}

/********************************our course**********************************/

.our_course{
    position: relative;
}
.our_course:before{
    content: "";
    background: #d0c4dc;
    width: 1200px;
    height: 470px;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    top: 200px;
    border-radius: 25px;
    z-index: -1;
    /* bottom: 150px; */
}
.course_main{
    padding-top: 80px;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    margin-left: 13px;
}
.top,
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
.course_box{
    padding: 15px 30px 40px;
    background: #fff;
    border-radius: 0px 50px 50px 50px;
    margin-bottom: 30px;
    height: 340px;
    width: 270px;
    box-shadow: 0px 0px 50px #0000003a;
    /* transition: all .5s; */
    position: relative;
    margin-right: 15px;
    z-index: -1;

    
}
.box_head{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box_head img{
    width: 140px;
    height: 112px;
    object-fit: contain;
    margin: 0 auto;
}
.box_head h3{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    padding: 15px 0 10px;
    min-height: 70px;
    text-align: center;
}
.course_box p{
    color: rgba(51,45,45,79%);
    text-align: center;
    font-size: 15px;
    /* line-height: 26px; */
    font-weight: 500;
    display: block;
    line-height: 26px;
}
.course_box:hover p{
    /* display: none; */
    visibility: hidden;  
    transition-timing-function: ease-out;
}
.crd_button{
    color: #fff;
    background: linear-gradient(95.04deg,#ffaa3f .82%,#f35b04 97.35%);
    border: 0;
    transition: all .5s;
    min-width: 146px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 700;
    position: relative;
    display: none;
    margin-left: 30px;
    transition-timing-function: ease-out;
}
.crd_button span{
    margin-left: 10px;
}
.course_box:hover button{
    display: unset;
    /* visibility: visible;  */
}
.crd_button:hover{
    background: #f35b04;
}
.body_buttons{
    color: white;
    border: none;
    margin-right: 10px;
    min-width: 146px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 700;
    text-align: left;
    background-image: linear-gradient(95.04deg,#ffaa3f .82%,#f35b04 97.35%);
}
.body_buttons:hover{
    background: #f35b04;
}
.body_buttons span{
    margin-left: 10px;
}

/********************************our course**********************************/

.partner{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 120px;
}
.partner img{
    width: 176px;
    height: 100px;
    object-fit: contain;
}

/********************************body 2**********************************/

.body2{
    text-align: center;
    padding: 83px 0 0;
    background: rgba(86,43,128,12%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.b2_head h3{
    font-size: 40px;
    color: #413838;
    font-weight: 750;
    margin: 0px;
}
.b2_content{
    display: flex;
    
}
.b2_image img{
    height: 700px;
    width: 700px;
}
.b2_cards{
    display: flex;
    align-items: center;
    margin-left: 150px;
}
.b2_cards img{
    height: 520px;
    padding: 20px;
    border-radius: 0px 50px 50px 50px;

}

/********************************body 3**********************************/

.body3{
    text-align: center;
    padding: 83px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.b3_head h3{
    font-size: 40px;
    color: #413838;
    font-weight: 750;
    margin: 0px;
}
.b3_contents{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.b3_contents img{
    height: 100px;
    width: 100px;
    margin-right: 120px;
    margin-left: 120px;
    margin-bottom: 100px;
}

/********************************body 3**********************************/

.body4{
    padding: 83px 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(assets/bg01.jpg);
}
.b4_table{
    margin-bottom: 50px;
}
.b4_table h3{
    margin-left: 25px;
    font-weight: 600;
    font-size: 20px;
    color: #413838;
}
table{
    border-spacing: 30px;

}
td{
    border: 0;
    width: 100%;
    height: 53px;
    background: #fff;
    color: rgba(51,45,45,90%);
    padding: 20px 19px;
    font-weight: 500;
    margin-bottom: 20px;
    border-radius: 7px;
}
input{
    border: none;
    outline: none;
    font-size: large;
    font-weight: bold;
}
textarea{
    font-size: large;
    border: none;
    outline: none;
    font-size: large;
    font-weight: bold;
    resize: none;
}

.map{
    background: #6582e27e;
    height: 600px;
    width: 570px;
    margin-left: 20px;
    margin-bottom: 40px;
}
.table_button{
    color: white;
    border: none;
    margin-left: 30px;
    min-width: 146px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 700;
    text-align: left;
    background-image: linear-gradient(95.04deg,#ffaa3f .82%,#f35b04 97.35%);
}
.table_button:hover{
    background: #f35b04;
}
.table_button span{
    margin-left: 10px;
}


/********************************footer**********************************/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0px;
}

.bigb button{
    color: white;
    border: none;
    margin-left: 30px;
    margin-bottom: 50px;
    min-width: 1000px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bolder;
    text-align: center;
    background-image: linear-gradient(95.04deg,#ffaa3f .82%,#f35b04 97.35%);
    word-spacing: 5px;
}
.bigb button:hover{
    background: #f35b04;
}
.bigb span{
    margin-left: 10px;
}
.f_para p{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    max-width: 800px;
    margin: 0px auto;
    padding-bottom: 74px;
}
.ft_3{
    display: flex;
    justify-content: center;
}
.ft_3 h3{
    color: #20201e;
    font-weight: 600;
    font-size: 19px;
    text-transform: uppercase;
}
.ft_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 180px;
    margin-right: 100px;
}
.contains{
    display: flex;
    margin-top: 30px;
}
.social{
    background: linear-gradient(99.79deg,#402060 1.01%,#602c93 98.69%);
    box-shadow: 0px 0px 5px rgba(0,0,0,25%);
    border-radius: 5px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.ft_content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ft_content2_para{
    margin-top: 30px;
    text-align: center;
    color: #20201e;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.ft_content3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
    margin-left: 100px;
}
.contact_details{
    padding-left: 25px;
    background-size: 15px;
    font-weight: 600;
    font-size: 20px;
}
.contact_details{
    margin-top: 20px;
}
.contact_details img{
    height: 20px;
    margin-right: 10px;
}