.profile-main {
    min-width: 100px;
    min-height: 100px;
    background: var(--sidebar-color);
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 30px;
    flex-wrap: wrap;
    margin: 20px;
}

.profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-left-image {
    width: 300px;
    object-fit: contain;
}

.profile-left-image img{
    width: 300px;
    object-fit: contain;
    background: var(--primary-color);
    border-radius: 50%;
}

.profile-left-details{
    background: var(--primary-color);
    min-width: 300px;
    width: auto;
    border-radius: 20px;
    padding: 20px;
    color: var(--sidebar-color);
    text-align: center;
}
.profile-right {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.edit-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-input {
    margin: 1px;
    background: var( --body-color);
    padding: 6px;
    border-radius: 10px;
}
.profile-input input{
     font-size: 18px;
    background: var( --body-color);
     border: none;
     outline: none;
     margin-left: 5px;
}

.edit-profile-button button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;
    transition: all .5ms;
}

.edit-profile-button button:hover{
    cursor: pointer;
}