.profile-main{
    min-width: 100px;
    min-height: 100px;
    background: var(--sidebar-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.profile-left{

}

.profile-right{
    
}