@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
  /* ===== Colors ===== */
  --primary-color: #695CFE;

}

*{
  margin: 0;
  padding: 0;
}
.App-header {
  min-height: 100vh;

}