.navbar-main {
    display: flex;
    padding: 20px 0px;

    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    border-bottom: 1.5px solid rgba(245, 245, 245, 0.861);
    backdrop-filter: blur(5px);
    z-index: 1000;
    background: rgba(255, 255, 255, 0.737);

    .nav-logo {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .nav-menu-icon {
        display: none;
    }

    /* media */
    @media screen and (max-width: 767px) {
        .nav-menu {
            position: absolute;
            width: 70%;
            top: -100rem;
            right: 50%;
            left: 50%;
            transform: translate(-50%);
            background: rgba(255, 255, 255, 0.94);
            padding: 2rem;
            border-radius: 10px;
            transition: .8s ease-in-out;
            backdrop-filter: blur(5px);
            box-shadow: 0 2px 3px 4px rgba(236, 213, 213, 0.516);

            li {
                font-size: var(--h3-font);
                font-weight: 500;
                padding: 1rem 0;
                /* text-align: center; */
                cursor: pointer;

                &:hover {
                    color: var(--primary-color);
                    border-bottom: 1.5px solid var(--primary-color);
                }
            }

        }
    }

    .nav-menu-icon,
    .nav-close-icon {

        font-size: var(--h1-font);

        &:hover {
            color: var(--primary-color);
        }
    }

    .nav-close-icon {
        position: absolute;
        bottom: -15px;
        right: 50%;
        left: 50%;
        transform: translate(-50%);
    }

    .show-navbar {
        top: 8rem;
    }
}



.icon {
    font-size: var(--h2-font);
    cursor: pointer;
}


.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: 0.8rem 1rem;
    color: white;
    background: var(--primary-color);

    &:hover {
        transition: .3s ease;
    }
}


// media querry
@media screen and (min-width: 768px) {
    .navbar-main {
        .nav-logo {
            h1 {
                font-size: var(--h2-font);
            }
        }

        .nav-close-icon,
        .nav-menu-icon {
            display: none;
        }

        .nav-menu {
            ul {
                display: flex;
                gap: 1rem;

                li {
                    font-size: var(--h3-font);
                    font-weight: 500;
                    padding: 1rem 0;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        color: var(--primary-color);
                        border-bottom: 1.5px solid var(--primary-color);
                    }
                }
            }
        }
    }
}