.accordion-container{
    .title{
        font-size: var(--normal-font);
        align-items: center;
        display: flex;
        padding: 1rem;
        border-radius: 10px;
        justify-content: space-between;
        background: var(--primary-color-light);

        span{
            cursor: pointer;
            .icon{
                font-size: 1.2rem;
                color: var(--text-color);
            }
        }
    }

    .description{
        font-size: var(--small-font);
        display: flex;
        align-items: center;
        line-height: 20px;
        white-space: pre-line;
        height: 140px;
        transition: all .3s ease-in-out;
        opacity: 1;
        padding: 0 1rem;
        background: var(--card-color);
        border-radius: 0 0 10px 10px;
    }
    .show{
        height: 140px;
        opacity: 1;
    }
}