.felx {
    display: flex;
    align-items: center;

}

.grid {
    display: flex;
    align-items: center;
}

.content {
    margin-top: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .content-main {
        width: 100%;

        .content-container {
            .grid {
                padding: 3rem;
                border-radius: var(--border-radius);
                background: var(--primary-color-light);
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: auto;
                gap: 2rem;
                flex-wrap: wrap;

                span {
                    justify-content: center;
                    gap: .5rem;

                    h1 {
                        font-size: var(--h1-font);
                        font-weight: 700;
                        color: var(--text-color);
                    }

                    p {
                        opacity: .8;
                        max-width: 80px;
                    }
                }

            }
        }
    }


    .destination-main {
        .destination-container {
            .destination-title {

                .dst-red-text {
                    color: var(--primary-color);
                    font-size: var(--small-font);
                    font-weight: 500;
                }

                h3 {
                    font-size: var(--h1-font);
                }

                .search-field {}
            }
        }
    }
}




@media screen and (max-width: 767px) {
    .content {
        margin-top: 240px;
    }
}