.felx {
    display: flex;
    align-items: center;
}


.content {
    margin-top: 100px;

    .content-main {
        width: 100%;

        .content-container {
            .grid {
                display: flex;
                align-items: center;
                gap: 1.5rem;
            }
        }
    }


}




@media screen and (max-width: 767px) {
    .content {
        margin-top: 240px;
    }
}