.send-notification-main{
    padding: 20px;
}

.send-notification-header{
    display: flex;
    align-items: center;
    
}
.send-notification-header h3{
    font-weight: var(--h3-font-weight);
    font-size: var(--h3-font-size);
    
}
.bell-plus-icon{
    font-size: var(--icon-size);
    margin-right: 10px;
}