.send-notification-main {
    padding: 20px;
}

.send-notification-header {
    display: flex;
    align-items: center;

}

.send-notification-header h3 {
    font-weight: var(--h3-font-weight);
    font-size: var(--h3-font-size);

}

.bell-plus-icon {
    font-size: var(--icon-size);
    margin-right: 10px;
}

.send-notification-body {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.send-notification-body button {
    padding: 10px 20px;
    background: var(--primary-color);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
}

.send-notification-body button:hover {
    cursor: pointer;
}

.send-notification-body select{
    padding: 10px;
    outline: none;
}