.review-text {
    text-align: center;
}

.review-text h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--main-color);
}

.review-text h2 {
    font-size: var(--h2-font);
}

.review-contents {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap: 2rem;
    align-items: center;
    margin-top: 4rem;
}
.review-card{
    padding: 35px;
    background: var(--other-color);
    border-radius: 3rem;
}
.review-card p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 1.5rem;
}
.review-card-child{
    display: flex;
    align-items: center;
    gap: 30px;
}
.review-card-img img{
    width: 100%;
    height: auto;
    border-radius: 3rem;
}
.review-card-text h4{
    margin: 5px 0;
    font-size: 18px;
}

.review-card-text h5{
    color: var(--second-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.review-rating{
    color: var(--main-color);
    font-size: 18px;
}
.rating-stars{
    margin-left: 6px;
}