*{
    font-family: Okra, Helvetica, sans-serif;
}
header{
    background-image: url(assets/bann.png);
    width: 100%;
    height: 600px;
    background-size: cover;
    
}
.navbar-expand-lg{
    width: 100%;
    max-width: 80rem;
    margin: 0px auto;
}
.navbar-nav .nav-link{
    color: white;
}

.zomato_head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.zomato_head img{
    margin-top: 100px;
    width: 300px;
    height: 60px;
}
.zomato_head h2{
    margin-top: 40px;
    color: white;
    text-align: center;
    font-size: 3.6rem;
}
.search{
    display: flex;
    margin-top: 20px;
    background-color: white;
    padding: 5px;
    width: 777px;
    height: 52px;
    align-items: center;
    border-radius: 10px;
}
.search i{
    margin-right: 10px;
}
.search input{
    border: none;
    width: 100%;
}
.search input:focus{
    border: 1px solid white;
    outline: none;
}
.btn{
    margin-right: 20px;
}
.btn-secondary{
    background-color: white !important;
    color: black !important;
    border: none !important;
    
}

.space{
    margin-left: 80px;
}
.dropdown-menu{
    margin-left: 20px;
}

/*********************************Cards***************************/

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 260px !important;
    margin-top: 40px;
    
}
.card {  
    margin-right: 20px;
    border-radius: 10px !important;

  }
  
.card img{
    object-fit: cover;
    max-height: 200px;
    width: 640px;
    border-radius: 10px 10px 0px 0px;

}

/*********************** collections ***********************/

.collections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
}
.collections_container{
    /* max-width: 26000px; */
}
.coll_content span{
    display: flex;
    align-items: center;
}
.coll_content span h5{
    float: left;
    margin-right: 320px;
}
.coll_cards{
    display: flex;
    color: white;
}
.card0{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 340px;
    width: 300px;
    margin: 20px 5px;
}
.cd1{
    background-image: url(assets/rest.jpg);
    background-size: cover;
}
.cd2{
    background-image: url(assets/plsc.png);
    background-size: cover;
}
.cd3{
    background-image: url(assets/plsc.png);
    background-size: cover;
}
.cd4{
    background-image: url(assets/plsc.png);
    background-size: cover;
}
.cntntt{
    padding: 0px 10px;
    white-space: nowrap;
}




.popular {
    width: 1250px;
    margin: 0 auto;
    margin-bottom: 4rem;
    margin-top: 100px;
}
.popular-heading {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
}
.popular .popular-container .popular-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular .popular-container .popular-items .popular-item {
    width: 100%;
    max-width: 32%;
    margin-bottom: 20px;
}
.popular-item {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(236, 236, 236);
    padding: 20px;
}
.popular-item .item-head {
    font-size: 1.2rem;
    color: rgb(28, 28, 28);
    margin: 0;
    margin-bottom: 5px;
}
.popular-item .item-subhead {
    font-weight: lighter;
    color: rgb(51, 51, 51);
    margin: 0;
}





.get_app {
    height: 620px;
    background-color: rgb(255, 251, 247);
}
.get_app-container{
    width: 1080px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.get_app-img {
    width: 40%;
}
.get_app-img img {
    width: 400px;
}
.get_app-content {

}
.get_app-content h1 {
    font-size: 2.5rem;
    font-weight: lighter;
    margin-bottom: 0;
    margin: 0;
    margin-bottom: 15px;
}
.get_app-content p{
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 15px;
}
.get_app-download img{
    width: 40%;
}
.btn-primary{
    background-color: rgb(239, 79, 95) !important;
    border: none !important;
}
.inlineRadio1
.inlineRadio2{
    accent-color: red !important;
}


.Explore_more{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.accordion{
    max-width: 1300px;
}
.accordion-button{
    width: 1298px !important;

}
.accordion-item{
    border: 1px solid black !important;
}



footer{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    background-color: rgb(248, 248, 248);
    justify-content: center;
}
.ft_1{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ft_1 img{
    height: 28px;
    width: 132px;
}
.ft_1_btn{
    display: flex;
    float: right;
    margin: 20px;
    margin-left: 100px;
}
.btn-danger {
    background-color: white !important;
    color: black !important;
    border: 1px solid rgba(0, 0, 0, 0.377) !important;
    height: 45px;
}
.btn-danger img{
    width: 40px ;
}
.btn-success{
    background-color: white !important;
    color: black !important;
    border: 1px solid rgba(0, 0, 0, 0.377) !important;
    height: 45px;

}

.ft_2{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.ft_2_child{
    display: flex;
    flex-direction: column;
    margin: 40px;
}
.ft_2_child p{
    color: rgb(105, 105, 105);
}


.form-check-input{
    background-color: red !important;
}