.user-dash-main{
    padding: 20px;

}
.udm-image {
    object-fit: cover;
    background-color: antiquewhite;
    padding: 10px;
    display: flex;
}

.udm-image img {
    width: 100%;
    height: 100%;
}
