.user-dash-main {
    padding: 20px;

}
.udm-up-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.udm-up-image {
    object-fit: cover;
    display: flex;
    background-image: url('https://demo.bootstrapdash.com/skydash-free/template/images/dashboard/people.svg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    border-radius: 20px;
    padding: 20px;
    justify-content: flex-end;
}

/* .udm-up-image img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
} */

.udm-up-analytic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: stretch; /* Ensure both sections have the same height */
}

.cards-1,
.cards-2 {
    display: grid;
    gap: 10px;
}

.udm-up-card1,
.udm-up-card2,
.udm-up-card3,
.udm-up-card4 {
    max-height: 210px; /* You may want to adjust this */
    background-color: #96B2FB;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}

/* Responsive font size */
.udm-up-card1 h3,
.udm-up-card2 h3,
.udm-up-card3 h3,
.udm-up-card4 h3 {
    font-size: clamp(16px, 4vw, 32px);
}

.udm-up-card2 {
    background-color: #7978E9;
}

.udm-up-card3 {
    background-color: #4747A1;
}

.udm-up-card4 {
    background-color: #F3797E;
}

