.user-dash-main {
    padding: 20px;

}

.udm-up-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.udm-up-image {
    object-fit: cover;
    background-color: antiquewhite;
    padding: 10px;
    display: flex;
}

.udm-up-image img {
    width: 100%;
    height: 100%;
}

.udm-up-analytic {
    display: flex;
    gap: 10px;
}
.cards-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cards-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.udm-up-card1 {
    height: 100px;
    width: 300px;
    background-color: #5E50F9;
}

.udm-up-card2 {
    height: 100px;
    width: 300px;
    background-color: red;
}

.udm-up-card3 {
    height: 100px;
    width: 300px;
    background-color: red;
}

.udm-up-card4 {
    height: 100px;
    width: 300px;
    background-color: red;
}