/* Chat.css */

.chat-container {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .users-list {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
  }
  
  .chat-main {
    flex: 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .user-item {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .active-user {
    background-color: var(--primary-color);
    color: white;
  }
  
  .chat-history {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .chat-message {
    margin: 5px;
    padding: 8px;
    border-radius: 8px;
  }
  
  .user1 {
    background-color: #bee3db;
  }
  
  .user2 {
    background-color: #ffd1a3;
  }
  