/* Chat.css */


  
  .chat-container {
    display: grid;
    grid-template-columns: 25% 75%;    
  }
  
  .users-list {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
  }
  
  .chat-main {
    flex: 3;
    padding: 20px;
  }
  
  .user-item {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  /* .user-item:hover {
    background-color: #e0e0e0;
  } */
  
  .active-user {
    background-color: var(--primary-color);
    color: white;
  }
  