.login-main {
    display: flex;
    flex-direction: column;
}

.login-top {
    background-color: #f0f2f5;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 720px;
    gap: 20px;
}

.login-top-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fb-logo {
    color: var(--primary-color);
    font-size: 60px;
    font-weight: 700;
}

.fb-p {
    font-size: 24px;
}

.login-top-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login-container {
    background-color: white;
    padding: 15px;
    min-height: 350px;
    min-width: 390px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.login-container-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #dadded;
    padding-bottom: 20px;
}

.login-container-top input {
    outline-color: var(--primary-color);
    height: 52px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    font-size: 17px;
    padding: 0px 16px;
    width: 330px;
}


.login-container-top button {
    background-color: var(--primary-color);
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
}

.login-container-bottom button {
    background-color: #42b72a;
    ;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
}

.forgotten-pass {
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}


.login-bottom ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.login-bottom li {
    font-size: 14px;
    color: #65676b;
}