* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    background-color: #2874f0;
    padding: 10px 20px;
    width: 100%;
}

.logo img {
    width: 100px;
}

.search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.searchTerm {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 3px 0 0 3px;
}

.searchButton {
    padding: 10px;
    background: white;
    color: #2874f0;
    font-size: 14px;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}
.LButton {
    background: white;
    border: none;
    color: #2874f0;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.SButton {
    background: #2874f0;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.CButton {
    background: #2874f0;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.CButton i {
    margin-right: 5px;
}

.header2 {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.images {
    text-align: center;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.images img {
    height: 50px;
    width: auto;
    margin-bottom: 10px;
}

.images b {
    font-size: 14px;
}