.navbar-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .navbar-navbar {
    width: 1440px;
    height: 88px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .navbar-rectangle1 {
    top: 3px;
    left: 0px;
    width: 1440px;
    height: 84px;
    position: absolute;
  }
  .navbar-navseller {
    top: 3px;
    left: 869px;
    width: 232px;
    height: 84px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .navbar-rectangle4 {
    top: 0px;
    left: 0px;
    width: 222px;
    height: 84px;
    position: absolute;
  }
  .navbar-store9eeae21 {
    top: 26px;
    left: 23px;
    width: 32px;
    height: 32px;
    position: absolute;
  }
  .navbar-text {
    top: 20px;
    left: 30px;
    color: rgba(243, 77, 15, 1);
    width: 202px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: center;
    font-family: Pacifico;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .navbar-nav-serach {
    top: 15px;
    left: 210px;
    width: 583px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .navbar-rectangle3 {
    top: 0px;
    left: 111.3821029663086px;
    width: 472px;
    height: 60px;
    position: absolute;
    border-radius: 12px;
  }
  .navbar-text2 {
    top: 11px;
    color: rgba(0, 0, 0, 1);
    width: 426px;
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Regular;
    text-align: center;
    font-family: Pacifico;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .navbar-ellipse1 {
    top: 17px;
    left: 126.4337387084961px;
    width: 20px;
    height: 22px;
    position: absolute;
  }
  .navbar-nav-logo {
    top: 3px;
    left: 81px;
    width: 227px;
    height: 84px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 1);
  }
  .navbar-navcart {
    top: 0px;
    left: 1275px;
    width: 123px;
    height: 88px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 1);
  }
  .navbar-headercarteed1501 {
    top: 35px;
    left: 25px;
    width: 24px;
    height: 24px;
    position: absolute;
  }
  .navbar-text4 {
    top: 29px;
    left: 31px;
    color: rgba(0, 0, 0, 1);
    width: 92px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: center;
    font-family: Pacifico;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .navbar-navprofile {
    top: 0px;
    left: 1122px;
    width: 151px;
    height: 88px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 1);
  }
  .navbar-ellipse2 {
    top: 27px;
    left: 12px;
    width: 35px;
    height: 34px;
    position: absolute;
  }
  .navbar-text6 {
    top: 20px;
    left: 41px;
    color: rgba(0, 0, 0, 1);
    width: 92px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: center;
    font-family: Pacifico;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  