@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico:wght@400&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&amp;display=swap");


@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    height: auto;
  }

  .list {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

* {
  margin: 0;
}

.main-div {
  margin: 0px 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px;
}
.nav-logo:hover{
  cursor: pointer;
}

.nav-navigation {
  display: flex;
  align-items: center;
}


.list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-family: Inconsolata;
  font-size: 20px;

}

.link::before,
.link::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #F86F14;
  transform: scaleX(0);
  transition: transform 0.25s;
}

.link::before {
  top: -3px;
  transform-origin: left;
}

.link::after {
  bottom: -3px;
  transform-origin: right;
}

.link:hover::before,
.link:hover::after,
.active::before,
.active::after {
  transform: scaleX(1);
}


.name {
  position: absolute;
  top: 70%;
  font-size: 11px;
  color: #F86F14;
  font-weight: 800;
}

.nav-search {
  background-color: #F0F5FF;
  display: flex;
  /* padding: 0px 10px ; */
  padding: 10px;
  align-items: center;
  height: 30px;
  margin: 20px;
  border-radius: 20px;
}

.nav-search-input {
  background-color: #F0F5FF;
  border-radius: 12px;
  font-size: 20px;
  border: none;
  outline: none;
}

.nav-serch-icon-container {
  border-radius: 50%;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-serch-icon {
  font-size: larger;
  color: #F86F14;
}

.nav-end {
  display: flex;
}

.nav-cart {
  cursor: pointer;
  background-color: #F0F5FF;
  color: #F86F14;
  border: none;
  border-radius: 20px;
  margin: 5px;
  padding: 0px 10px;
  font-size: x-large;
  /* width: 40px; */
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}


.dropdown {
  float: left;
  overflow: hidden;
  border-radius: 20px;

}

.dropbtn {
  cursor: pointer;
  font-size: 17px;
  background-color: #F0F5FF;
  color: #F86F14;
  border: none;
  border-radius: 20px;
  margin: 5px;
  padding: 0px 10px;
  font-size: x-large;
  /* width: 40px; */
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  /* float: none; */
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #f38f4d;
  color: white;

}

.dropdown-content a:hover {
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 10px;
  background-color: #f38f4d;
  padding: 3px;

}



.nav-cart-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-cart-label {
  margin: 0px 10px;
  color: #000;
  text-align: center;
  font-family: Pacifico;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



.banner {
  height: 80vh;
  margin-top: 20px;
  padding: 20px;
  display: flex;

}

.banner {
  height: 100%;
  background: url("Assets/bg.svg") center/cover no-repeat fixed;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
}

.banner-content {
  margin: 0px 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-content h1 {
  font-family: "Aclonica", sans-serif;
  font-size: 10rem;
  line-height: 1;
  margin: 0;
}

.i {
  color: #F86F14;
  position: relative;
}

.i:before {
  content: "ı";
  position: absolute;
  color: black;
}

.banner-button {
  border: none;
  border-radius: 20px;
  background: linear-gradient(91deg, #FF9C1A 7.92%, #E80505 108.2%);
  color: white;
  padding: 10px 20px;
  opacity: .7;
  font-size: large;
}

.banner-image img {
  width: 400px;
  position: relative;
}


/*********** body.jsx ********/
.section {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5rem;
}

.title {}

.section .title span {
  display: inline-block;
  border-bottom: 3px solid #F86F14;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.section .title span::before {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  right: 2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #F86F14;
}

.section .title h2 {
  font-size: 2rem;
  margin: 0;
}

.collection-filter {
  display: flex;
  justify-content: center;
}

.b-dropdown {
  float: none;
  overflow: hidden;
  border-radius: 20px;
}

.collection-button {
  margin: 10px 15px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(91deg, #ff9c1aad 7.92%, #e805058c 108.2%);
  color: white;
  padding: 10px 20px;
  font-size: large;
  /* opacity: .7; */
  background-color: #F0F5FF;
  border: none;
  margin: 5px;
}

.b-dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
}

.b-dropdown-content a {
  /* float: none; */
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.b-dropdown-content a:hover {
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
}

.b-dropdown:hover .b-dropdown-content {
  display: block;
  border-radius: 10px;
  background-color: #f38f4dce;
  padding: 3px;

}


.collection-button:hover {
  background: #F86F14;
}

#div1 {
  font-size: 50px;
  margin-right: 10px;
  color: #F86F14;
}

.b-card-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;

  /* grid-template-columns: repeat(5, 1fr); */
  gap: 30px;
  border: solid 1px #e0e0e0;
  justify-content: space-evenly;
}

.card-items {
  max-width: 300px;
}

.card-items:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-image {
  width: 300px;
  height: 400px;
  object-fit: contain;
}

.card-item-details {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", Arial, sans-serif;
  margin-left: 10px;
}

.card-item-title {
  color: #f38f4d;
  font-size: 16px;
  font-weight: 500;
  font-family: "Aclonica", sans-serif;
}

.card-item-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/****************** cart page ****************/

.cart-main-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #f3f3f3;
  padding: 10px;
  font-family: 'poppins', sans-serif;
}
.cart-body{
  width: auto;
  padding: 20px;
  background-color: #ffffff;
}
.cart-body h2{
  margin-bottom: 10px;
}
.cart-items{
  display: flex;
  /* background-color: #e0e0e0; */
  padding: 10px;
  gap: 20px;
  position: relative;
}
.cart-item-index::before,
.cart-item-index::after {
  content: "";
  display: block;
  border-top: 2px solid #bdbdbd; /* Define the top border */
  border-bottom: 1px solid #bdbdbd; /* Define the bottom border */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cart-item-index{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.cart-item-image{
  
}
.cart-item-image img{
  max-width: 250px;
  max-height: 250px;
}
.cart-item-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}
.cart-item-title{
  font-size: 40px;
  font-weight: bold;
}
.cart-item-description{
  font-size: 22px;
}
.cart-item-utils{
display: flex;
}
.cart-util-button{
  border: none;
  margin: 10px;
  background-color: white;
}

.cart-roundup{
  background-color: #ffffff;
  margin-left: 30px;
  padding: 15px 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.cart-roundup-count{
  font-size: 17px;
}
.cart-roundup-button{

}




/********************* details ***********************/

.deatils-main{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.details-card{
  display: flex;
}
.details-card-image img{
  max-width: 500px;
}
.details-card-content{
  max-width: 500px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}