* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/********************************HEADER****************************/

header{
    background-image: url(Assets/strip.jpg);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textdiv h3{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.1px;
    
}
.linkdiv{
    /* float: right; */
    margin-left: 240px;
    
}
.linkdiv li{
    display: inline;
    font-size: 16px;
    padding-right: 15px;
}

.linkdiv li:hover {
    color: #bb15a5;
}

/*******************************HEADER 2**************************/

.header2{
    display: flex;
    flex-wrap: wrap;
    height: 67px;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
    border-bottom: .001px solid #d3d6da;
}
.nykaaimg img{
    height: 80px;  
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: white;
    border: none;
    color: #212529;
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    margin: none;
    height: 35px;
    font-weight: bold;
}
.btns:hover{
    color: #f35ddf;
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    min-width: 250px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(230, 230, 230);
    margin-left: 100px;
}
.search i{
    color: #898b8d;
}
.search input{
    width: 100%;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: rgb(230, 230, 230);
}
.signin{

}
.signin button{
    background-color: #E80071;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}
.signin button:hover{
    background-color: #ee3990;
}
.baket{
    margin-left: 30px;
}

/*******************************HEADER 3**************************/

.header3{
    box-shadow: 1px 5px 10px #898b8d;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #bb15a5; */
    justify-content: center;
    align-items: center;
}
.nav li{
    display: inline;
    color: rgba(3, 2, 26, 0.6);
    padding: 0px 16px;
    font-size: 14px;
}

.nav li:hover{
    color: #bb157b;
}
.offers{
    margin-left: 45px;
}
.offers img{
    margin-top: 10px;
    height: 30px;
}
/*******************************main body**************************/

.mainbody{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.body1{
    display: flex;
    justify-content: center;
    margin: 20px 100px ;
}
.card1{
    background-image: url(Assets/deulex.png);
    border-radius: 10px;
    height: 338px;
    width: 600px;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}
.cardtext{
    margin-top: 270px;
    margin-left: 10px;
    color: white;
}
.cardtext h3{
    font-size: 24px;
    font-weight: 600;
}
.cardtext h4{
    font-size: 20px;
    font-weight: 500;
}
.card2{
    background-image: url(Assets/lanc.jpg);
    border-radius: 10px;
    height: 338px;
    width: 600px;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}
.cardtext h3{
    font-size: 24px;
    font-weight: 600;
}
.cardtext h4{
    font-size: 20px;
    font-weight: 500;
}
.card3{
    background-image: url(Assets/laniege.jpg);
    border-radius: 10px;
    height: 338px;
    width: 300px;
    display: flex;
    flex-direction: column;    
}
.cardtext h3{
    font-size: 24px;
    font-weight: 600;
}
.cardtext h4{
    font-size: 20px;
    font-weight: 500;
}

/********************************* body 2 **************************/

.body2{
    display: flex;
    justify-content: center;
    margin-left: 30px;
}
.body2img{
    border-radius: 10px;
    margin-right: 20px;
    
}
.body2img img{
    /* object-fit: cover; */
    height: 380px;
    width: 770px;
}

/********************************* body 3 **************************/

.body3{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin: 15px 140px;
}
.body3 h2{
    font-size: 24px;
    font-weight: 600;
}
.body3 img{
    margin: 10px 0px;
    border-radius: 10px;
}

/********************************* top brands **************************/

.brands{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 140px;
}
.brands h3{
    font-size: 24px;
    font-weight: 600;
}
.brandcol1{
    display: flex;
}
.brandcards{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    margin-left: 20px;
}
.brandcards img{
    width: 500px;
    border-radius: 10px;
}
.brandtext{
    padding: 10px;
}
.brandtext h2{
    color: #E80071;
    font-size: 20px;
    font-weight: 600;
}
.brandtext h3{
    color: #5C6873;
    font-size: 16px;
    font-weight: 500;
}
.brandcol2{
    display: flex;
}

/********************************* top brands **************************/

.serums{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px 140px;
}
.serums h2{
    font-size: 24px;
    font-weight: 600;
}
.serum1{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.serum1 img{
    /* width: 1500px; */
    border-radius: 10px;
}
.serumtext{

}
.serumtext h2{
    font-size: 36px;
    font-weight: 600;
}
.serumtext h3{
    font-size: 24px;
    font-weight: 500;
}

.serum2{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.serumbanner{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.serumbanner img{
    border-radius: 10px;
    width: 320px;
}
.serumbanner h2{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 600;
}

/********************************* Perfect match **************************/

.perfectmch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 140px;
}
.perfectmch h2{
    font-size: 24px;
    font-weight: 600;
}

.perfectmch img{
    margin-top: 15px;
    border-radius: 10px;
}

/********************************* Bestseller **************************/

.bestseller{
    display: flex;
    flex-direction: column;
    margin: 20px 140px;
}
.bestseller h2{
    font-size: 24px;
    font-weight: 600;
}
.bstcol{
    display: flex;
}
.bstban{
    display: flex;
    flex-direction: column;
    width: 182px;
    margin-top: 20px;
    margin-right: 15px;
}
.bstban img{
    width: 182px;
    height: 230px;
    border-radius: 10px;
    border: 0.1px solid rgb(170, 170, 170);
}
.bstban h4{
    color: rgb(20, 38, 54);
    font-size: 14px;
    font-weight: 500
}
.bstban p{
    color: rgb(92, 104, 116);
    font-size: 14px;
    font-weight: 400;
}
.price{
    display: flex;
    align-items: baseline;
}
.price h5{
    color: rgb(20, 38, 54);
    font-size: 16px;
    font-weight: 500;
}
.price h6{
    text-decoration: line-through;
    color: rgb(163, 170, 176);
    font-size: 14px;
    font-weight: 400;
}
.price p{
    color: rgb(0, 137, 69);
    font-size: 14px;
    font-weight: 400;
}

/********************************* Brands of the Day **************************/

.brndday{
    display: flex;
    flex-direction: column;
    margin: 20px 140px;
}
.brndday h3{
    font-size: 24px;
    font-weight: 600;
}
.brndday_cols{
    margin-top: 10px;
    display: flex;
}
.brndday_cards{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.brndday_cards img{
    width: 460px;
    border-radius: 10px;
}
.brndday_text{
    margin: 10px;
}
.brndday_text h3{
    color: rgb(232, 0, 113);
    font-size: 20px;
    font-weight: 600;
}
.brndday_text h4{
    color: rgb(92, 104, 115);
    font-size: 16px;
    font-weight: 500;
}

/********************************* Category In Focus **************************/

.focus{
    display: flex;
    flex-direction: column;
    margin: 20px 140px;
}
.focus h3{
    font-size: 24px;
    font-weight: 600;
}
.focusdiv1{
    margin-top: 15px;
}
.focusdiv1 img{
    width: 1600px;
    border-radius: 10px;
}
.focusdiv2{
    display: flex;
    margin-top: 30px;
}
.circleban{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.circleban img{
    border-radius: 50%;
    width: 200px;
}
.circleban h4{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

/********************************* Category In Focus **************************/

.ctmiss{
    display: flex;
    flex-direction: column;
    margin: 20px 140px;
}
.ctmiss h3{
    font-size: 24px;
    font-weight: 600;
}
.ctmiss_cols{
    margin-top: 10px;
    display: flex;
}
.ctmiss_cards{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.ctmiss_cards img{
    /* width: 460px; */
    height: 509px;
    border-radius: 10px;
}
.ctmiss_text{
    margin: 10px;
}
.ctmiss_text h3{
    color: rgb(232, 0, 113);
    font-size: 20px;
    font-weight: 600;
}
.ctmiss_text h4{
    color: rgb(92, 104, 115);
    font-size: 16px;
    font-weight: 500;
}

/********************************* Category In Focus **************************/

.warning{
    display: flex;
    flex-direction: column;
    margin: 20px 140px;
}