* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
header{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header img{
    height: 40px;
}

.btn{
    display: flex;
    margin: 10px;
}
.btns{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: white;
    border: none;
    color: #212529;
    font-size: 14px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    margin: none;
    height: 35px;
    width: 90px;
}

.btns:hover{
    border-bottom: 1px solid #0e382c;
}

.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    min-width: 300px;
    width: 600px;
    height: 34px;
    margin: 10px;
    margin-left: 240px;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 0px 0px 200px #212529;
}

.search i{
    color: #212529;
}
.search input{
    width: 100%;
    font-size: 15px;
    border: none;
    outline: none;
}

.person {
    margin-left: 100px;
}

/*********************header 2************************/

.header2{
    background-color: #1e3932;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hd2text b{
    color: #f9f9f9;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
}

.hd2button button{
    color: #fff;
    background-color: #1e3932;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 15px;
    margin-left: 740px;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid white;
}

/***********************body1************************/

.body1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
    margin: 1px 250px;
    flex-wrap: wrap;
}

.handcraft h2{
    margin-top: 20px;
    margin-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e3932;
    margin-left: 60px ;
}

.quickselect{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.qck_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 60px;
}
.qck_content img{
    width: 100px;
    border-radius: 50px;
}

.qck_content img:hover{
    border: 3px solid #00754a;
}
.qck_content b{
    font-size: 14px;
    font-weight: 550;
    margin-top: 6px;
}

.banner{
    background-color: #f88253;
    width: 1150px;
    height: 240px;
    margin: 100px 80px;
    border-radius: 8px;
    display: flex;
}

.ban_image{
    display: flex;
    
}
.ban_image img{
    height: 190px;
    width: 115px;
    margin-top: 50px;
    border-radius: 8px;
}

.mocha_content{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;

}

.para1 {
    padding: 10px 0px;
    font-size: 14px;
}
.para12 {
    padding: 10px 0px;
    font-size: 20px;
    font-weight: bold;
}

.para2{
    margin: 45px 0px;
}

.mocha_button{
    display: flex;
    margin: 0px 0px 20px 210px;
}
.mocha_button button{
    align-self: flex-end;
    border: none;
    border-radius: 40px;
    padding: 10px 40px;
    background-color: #00754a;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

/******************************* body 2 ******************/

.body2{
    padding-bottom: 40px;
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.b2contents{
    display: flex;
    flex-direction: row;
    margin: 30px 300px;
    flex-wrap: wrap;
}
.b2contents h3{
    color: #1e3932;
    font-size: 24px;
    font-weight: bold;
}
.b2contents p{
    font-size: 12.8px;
    color: #00754a;
    font-weight: bold;
    margin-left: 890px;
}

.b2head{
    display: flex;
}
#mainbox{
    display: flex;
    justify-content: center;
}
.whitebox{
    display: flex;
    justify-content: center;
    padding: 1px 10px;
    background-color: white;
}

#maindv{
    display: flex;
    justify-content: center;
}
.whitebox{
    background-color: white;
    display: flex;
    padding: 16px 24px;
    border-radius: 10px;
    margin: 10px;
}
.imagesss{
    display: flex;
    flex-direction: column;
}
.imagesss img{
    height: 80px;
    width: 80px;
    border-radius: 10px;
    object-fit: cover;
}
.imagesss h4{
    margin-top: 20px;
    margin-bottom: 10px;
}
.whitebcontent{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
.whitebcontent img{
    height: 20px;
    width: 20px;
}
.whitebcontent h3{
    font-size: 14px;
    color: #1e3932;
}
.whitebcontent p{
    font-size: 10px;
    color: #6c757d;
    margin-top: 10px;
}

.whitebutton{
    display: flex;
    align-self: flex-end;
}
.whitebutton button{
    border: none;
    background-color: #00754a;
    color: white;
    border-radius: 30px;
    padding: 9px 20px;
    font-size: 12px;
    box-shadow: 0 4px 15px #a3a3a3ad;
}
.whitebutton button:hover{
    background-color: #343a40;
}


/*****************************body 3**********************/

.body3{
    padding-bottom: 40px;
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
}
.b3contents{
    display: flex;
    flex-direction: row;
    margin: 30px 300px;
    flex-wrap: wrap;
}
.b3contents h3{
    color: #1e3932;
    font-size: 24px;
    font-weight: bold;
}
.b3contents p{
    font-size: 12.8px;
    color: #00754a;
    font-weight: bold;
    margin-left: 680px;
}

.bimg{
    position: relative;
    display: flex;
    justify-content: center;
    
    /* background-image: url('assets/web_ab5a0057ab.jpg'); */
}
.bimg img{
    width: 1200px;
    height: 350px;
    margin-right: 50px;
    border-radius: 10px;
    object-fit: cover;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 300px;
}

.bimg .text1{
    position: absolute;
    font-size: 28px;
    color: white;
    top: 53%;
    left: 18%;
}
.bimg .text2{
    position: absolute;
    font-size: 14px;
    color: white;
    top: 65%;
    left: 18%;
}

.bimg .btn {
    position: absolute;
    top: 80%;
    left: 18%;
    background-color: white;
    font-size: 14px;
    padding: 6px 80px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
  }

  /*****************************footer***************************/

  footer{
    background-color: #0e382c;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
  }
  .mainfooter{
    margin-top: 50px;
    display: flex;
    border-bottom: 1px solid #e9ecef;
  }
  .mainfooter img{
    width: 62px;
    height: 62px;
  }
  .footcontent{
    color: white;
    padding: 0px 60px;
  }
  .footcontent h3,p{
    padding: 10px 0px;
  }
  .socialpic img{
    height: 35px;
    width: 35px;
  }

  .appstore{
    display: flex;
    flex-direction: column;
  }
.appstore img{
    width: 194px;
    height: 62px;
}

.footer2{

}