.admin-dash-main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.admin-dash-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin-dash-header h3 {
    font-weight: var(--h3-font-weight);
    font-size: var(--h3-font-size);
}

.admin-dash-header i {
    font-size: var(--icon-size);
}

.admin-dash-body {}