body {
    background-color: black;

}

.signin-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.signin-container {
    width: 450px;
    height: 600px;
    background-color: var(--main-color);
    border-radius: 20px;
    /* background-color: white; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: #ff9f0d 0px 1px 25px;
    transition: all .50s ease;
}

.signin-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signin-input-group {
    font-size: 1.25rem;
    position: relative;
}

.signin-input-group input {
    all: unset;
    color: var(--text-color);
    padding: 1rem;
    border: 1px solid #ffffff;
    border-radius: 10px;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none; /* Remove default outline */
}
.signin-input-group input::placeholder{
    color: var(--text-color);
}

.signin-input-group input:focus{
    box-shadow: #ffffff 1px 1px 10px;
    transition: all .50s ease;
}
.signin-button{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.signin-button button{
    min-width: 150px;
    min-height: 40px;
    color: var(--text-color);
    font-size: var(  --p-font);
    border: 1px solid #ffffff;
    border-radius: 10px;
    background: var(--main-color);
    transition: all .50s ease;

}
.signin-button button:hover{
    background-color: #ffffff;
    color: var(--main-color);
}



.toast-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: red;
    color: #fff; 
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    width: 400px; 
    font-weight: 600;
}

.toast-close {
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse; /* To display the toasts in reverse order */
    align-items: flex-end;
    z-index: 1000;
}
